$coltext1: #ffffff;
$coltext2: #b75d14;
$coltext3: #333333;
$coltext4: #2f2f2f;
$coltext5: #2ec109;
$coltext6: #005c7b;
$coltext7: #57585c;
$coltext8: #777777;
$coltext9: #994505;
$coltext10: #676767;
$coltext11: #ff3000;
$coltext12: #5d687f;
$coltext13: #f8c81d;
$coltext14: #b63500;
$point: #2dc008;
$number: #6e3c1a;
$phone: #1e1e1e;

$fw_semibold: 600;
$fsmenu: 14px;
$fslink: 14px;
$fs-text: 60px;

$btnshadow: 0 3px 7px rgba(0, 0, 0, 0.35), inset 0 -4px 0 rgba(0, 0, 0, 0.35);
$callten: 0 4px 0 0 rgb(48%, 10%, 1%, 1);
$callbg: linear-gradient(to top, #f93a0f 40%, #b42505 100%);
$formten: 0 4px 4px 1px rgba(0, 0, 0, 0.41);
$btn_bg: linear-gradient(to top, #28bc04 0%, #54e129 100%);
$free-bg: linear-gradient(to top right, #351d10 0%, #ab6736 80%, #7f441c 100%);