.contacts-all {
    background-image: url("../images/bg_contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.contacts-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 37px;
}
.contacts-title {
    color: $coltext4;
    font-size: 36px;
    font-weight: $fw_semibold;
    line-height: 48px;
    text-transform: uppercase;
    padding: 68px 0px 30px;
}
.contacts-adress {
    color: $coltext4;
    font-size: 22px;
    font-weight: $fw_semibold;
    line-height: 33px;
}
.contacts-adress__link {
    color: #868686;
    &:hover {
        color: $coltext11;
        text-decoration: underline;
    }
}
.contacts-phones {
    display: flex;
    flex-direction: column;
}
.contacts-phone {
    color: $phone;
    font-size: 42px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}
.contacts-phone__fw600 {
    font-weight: $fw_semibold;
}
.contacts-click {
    margin: 30px 0px 130px;
    width: 300px;
    box-shadow: $btnshadow;
    background-image: linear-gradient(to top, #c32805 0%, #f9380d 100%);
    border: none;
    border-radius: 4px;
    padding: 16px 0px;
    &:hover {
        transform: scale(1.1,1.1);
        transition-duration: 0.3s;
    }
}
.contacts-click__link {
    color: $coltext1;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.contacts-wrap {
    display: flex;
    justify-content: space-around;
}
.contacts-wrap1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 
.contacts-wrap2 {
    background: rgba(24, 21, 20, 0.8);
    max-width: 671px;
    width: 100%;
    padding-bottom: 45px;
    position: relative;
    top: -70px;
}
.contacts-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contacts-form__title {
    color: $coltext1;
    font-size: 60px;
    font-weight: $fw_semibold;
    padding: 55px 0px 45px;
}
.contacts-content {
    max-width: 570px; 
    width: 100%;
    margin-bottom: 20px;
    padding: 18px;
    border-radius: 4px;
    border: none;
    color: #868686;
    font-size: 18px;
    font-weight: $fw_semibold;
    line-height: 20px;
    &:hover {
        transform: scale(1.02, 1.02);
        transition-duration: 0.3s;
        cursor: pointer;
    }
}
.contacts-area {
    max-width: 570px; 
    width: 100%;
    margin-bottom: 20px;
    padding: 18px;
    color: #868686;
    font-size: 18px;
    font-weight: $fw_semibold;
    line-height: 20px;
    cursor: pointer;
}
.contacts-btn {
    max-width: 570px; 
    width: 100%;
    padding: 18px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.73);
    color: $coltext1;
    font-size: 24px;
    font-weight: $fw_semibold;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: $btnshadow;
    background-image: $btn_bg;
    border: none;
    border-radius: 4px;
    &:hover {
        transform: scale(1.05,1.05);
        transition-duration: 0.2s;
        cursor: pointer;
    }
}
.footer-menu {
    background: rgb(18%, 6%, 1%, 0.8);
    padding: 45px 0px;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link {
    font-size: 18px;
}
.dev-text {
    color: $coltext1;
    font-size: 18px;
    font-weight: $fw_semibold;
    line-height: 48px;
    text-transform: uppercase;
}
.dev-link {
    color: $coltext1;
}
.dev-link__color {
    color: #f8c81d;
    text-decoration: underline;
}
@media (max-width: 1210px) {
    .contacts-all {
        padding-bottom: 30px;
    }
    .contacts-wrap {
        flex-direction: column;
    }
   .contacts-wrap1 {
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
   } 
   .contacts-wrap2 {
       position: relative;
       top: 0px;
       left: 0px;
       margin: 0 auto;
   }
   .contacts-click {
    margin: 30px 0px 0px; 
   }
   .contacts-title {
       padding-top: 30px;
   }
   .contacts-form__title {
    font-size: 55px;
    padding: 45px 0px 40px;
    }
    .contacts-content {
        padding: 14px;
        margin-bottom: 15px;
        font-size: 16px;
    }
    .contacts-btn {
        padding: 15px;
        font-size: 22px;
        line-height: 18px;
    }
    .footer-wrap {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: 767px) {
    .contacts-info {
        text-align: center;
        padding-right: 15px;
    }
    .contacts-wrap1 {
        flex-wrap: wrap;
    }
    .contacts-form {
        padding: 0px 15px;
    }
    .contacts-form__title {
        font-size: 30px;
        padding: 35px 0px 30px;
    }
    .contacts-phone {
        font-size: 30px;
        text-align: center;
    }
    .contacts-phones {
        padding-bottom: 40px;
    }
    .contacts-content {
        min-width: 260px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 14px;
        line-height: 15px;
    }
    .contacts-area {
        min-width: 260px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 15px;
        line-height: 15px;
    }
    .dev {
        padding-top: 30px;
        text-align: center;
    }
    .dev-text {
        font-size: 14px;
        line-height: 24px;
    }
    .footer-link {
        font-size: 16px;
    }
}