.top2-scroll {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.down-arrow-1, .down-arrow-2, .down-arrow-3 {
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         transform: rotate(45deg);
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}
.mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
}
.down-arrow-1 {
    margin-top: 6px;
    animation-delay: .1s; 
    animation-direction: alternate;
}
.down-arrow-1, .down-arrow-2, .down-arrow-3 {
    animation: mouse-scroll 1s infinite; 
  }
.down-arrow-2 {
    animation-delay: .2s;
    animation-direction: alternate;
  }
.down-arrow-3 {
    animation-delay: .3s;
    animation-direction: alternate;
  }
.mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: #ffffff;
    position: relative;
    animation: animated-mouse 1.2s ease infinite;
  }
  .to-top__btn {
    cursor: pointer;
    border-radius: 50%;
  }
@media (max-width:767px) {
  .top2-scroll {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .top2-form {
    padding-bottom: 230px;
  }
}
@keyframes animated-mouse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
      opacity: 0;
    transform: translateY(6px);
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
